
<h1>Please edit your profile</h1>
<form action="/{{UserId}}?_method=PATCH" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="typeOfPlayer" placeholder="typeOfPlayer" value="">
    <input type="text" name="profilepic" placeholder="profilepic" value="">
    <button class="btn" type="submit">Post</button>
</form>
<a href="/{{UserId}}"><button class="btn">Back</button></a>