<form action="/" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="typeOfPlayer" placeholder="typeOfPlayer" value="">
    <input type="text" name="profilePic" placeholder="profilePic" value="">
    <button type="submit">Post</button>
</form>