
<div>
    <form action="/{{UserId}}/characters/{{CharactersId}}?_method=PATCH" method="POST">
    <input type="text" name="name" placeholder="name" value="">
    <input type="text" name="race" placeholder="race" value="">
    <input type="text" name="allignment" placeholder="allignment" value="">
    <input type="text" name="gender" placeholder="gender" value="">
    <input type="text" name="level" placeholder="level" value="">
    <input type="text" name="img" placeholder="image-link" value="">
    <button class="btn" type="submit">Update</button>
</form>
</div>
    {{!-- name: String,
    race: String,
    allignment: String,
    img: String,
    gender: String,
    level: Number,
    background: String, --}}