<form action="/{{UserId}}/characters" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="allignment" placeholder="allignment" value="">
    <input type="text" name="img" placeholder="img" value="">
    <input type="text" name="gender" placeholder="Gender" value="">
    <input type="text" name="Level" placeholder="Level" value="">
    <input type="text" name="BackGround" placeholder="Background" value="">
        <input type="text" name="Strength" placeholder="1-20" value="">
    <input type="text" name="Dexterity" placeholder="1-20" value="">
    <input type="text" name="Agility" placeholder="1-20" value="">
    <input type="text" name="Constitution" placeholder="1-20" value="">
    <input type="text" name="Intellegence" placeholder="1-20" value="">
    <input type="text" name="Wisdom" placeholder="1-20" value="">
    <input type="text" name="Luck" placeholder="1-20" value="">
    <input type="text" name="Charisma" placeholder="1-20" value="">
    <input type="text" name="Faith" placeholder="1-20" value="">
    <button type="submit">Post</button>
</form>


{{!-- const Character = new Schema({
    name: String,
    race: String,
    allignment: String,
    img: String,
    gender: String,
    level: Number,
    background: String,
    class: [{
        type: Schema.Types.ObjectId,
        ref: 'Class'
    }],
    stats: [{
        type: Schema.Types.ObjectId,
        ref: 'Stats'
    }]
}); --}}