
<div>
    <a href="/"><button class="btn">Find other Users </button></a>
    <h1>{{Character.name}}</h1>
    <p>{{Character.gender}}</p>
    <img src='{{{Character.img}}}' alt="{{Character.name}}">

</div>